@font-face {
    font-family: cabin;
    src: url(Cabin-SemiBold.otf);
}

@font-face {
    font-family: circles;
    src: url(Circles_New.ttf);
}

@font-face {
    font-family: pointers;
    src: url(pointers.ttf);
}

@font-face {
    font-family: circled-numbers;
    src: url(CNFREEBD.ttf);
}

body{
margin:0;
padding:0;
line-height: 1.5em;
background: #e0dfe4 url('body_bg.png') repeat-x;
font-family: cabin;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 840px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #EAEAEA;
height: 90px;
border-style: solid;
border-left: none;
border-right: none;
font-family: cursive;
margin-top: 30px;
}

#topsection h1{
margin: 0;
padding-top: 30px;
font-size: 80px;
text-align: center;
}


#contentwrapper{
float: left;
width: 100%;
background-color:rgba(255, 255, 255, 0.64);
}

#contentcolumn{
margin: 0 190px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 180px; /*Width of left column in pixel*/
margin-left: -840px; /*Set margin to that of -(MainContainerWidth)*/
background: rgba(239, 239, 239, 0.91);
}

#rightcolumn{
float: left;
width: 190px; /*Width of right column*/
margin-left: -190px; /*Set left margin to -(RightColumnWidth)*/
background: rgba(239, 239, 239, 0.91);
}

#footer{
clear: left;
width: 100%;
background: #EAEAEA;
text-align: center;
padding: 4px 0;
border-style: solid;
border-radius: 6px;
border-width: 2px;
}

#footer a{
color: rgb(28, 33, 9);
margin-left: 700px;
font-style: oblique;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}



#connecto-settings {
    width: 200px;
    height: 370px;
}

#connecto-choices {
    width: 200px;
    height: 370px;
}


.sections {
    width: 700px;
}

.section {
    float: left; 
}



.disc-grid{
    margin-left: 60px;
}
