.connecto-grid-container{
	width: inherit;
	margin-top: 10px;
}

.disc-grid{
	height: inherit;
	width: inherit;
  
}

.play-grid-blade {
    background-color: white;
    color: black;
}

.red{
	color: #D44F2A;
}

.blue{
	color: #2B92B6;
}

.empty{
	color: rgba(97, 97, 97, 0.9);
}

.column-numbers{
   background: blue;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  width:35px;
  height:35px;
}

.redHeader{
	background: #D44F2A;
	border: 2px solid;
	border-color: #D44F2A;
}

.blueHeader{
	background: #2B92B6;
	border: 2px solid;
	border-color: #2B92B6;
}

.selected{
	border-color: black;
}

.grid-cell{
	text-align: center;
	height: 36px;
	font-size: 54px;
	font-family: circles;
	margin-top: 7px;
}

.player-message{
	float:left;
	padding-right:4px;
	font-size:20px;
}

.arrow{
	font-family:pointers;
}