.blueButton{
	background-color: #2B92B6;
}

.redButton{
	background-color: #D44F2A;
}

.metro {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.metro:hover, .metro:focus, .metro:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  font-size: 15px;
}

.defaultChoiceButton {
    background-color: #A8AEB1;
}

.selectedRed {
    background-color: #D44F2A;
}

.selectedBlue {
    background-color: #2B92B6;
}

.answer-message{
	margin-left: 28px;
	font-size: 22px;
}
