.play-settings-blade{
	font-size:15px;
}

.play-settings-blade select{
	font-size:18px;
	border-radius: 5px;
}

#connecto-settings .label{
	padding-left: 12px;
	font-size: x-large;
}

.selectBox{
	margin-bottom: 10px;
}