#connecto-settings {
	width: 200px;
	height: 370px;
	margin-top: 10px;
}

#connecto-choices {
	width: 200px;
	height: 370px;
	margin-top: 10px;
}


.sections {
	width: 700px;
}

.section {
	float: left; 
}



.disc-grid{
	margin-left: 86px;
}